doctype html
html(lang="en")
  head
    title= pageTitle
    script(type='text/javascript').
      window.location = "slack://channel?team=T0K4864KF&id=C7N7BG63A";
  body
    h1 Pug - node template engine
    #container.col
      if youAreUsingPug
        p You are amazing
      else
        p Get on it!
      p.
        Pug is a terse and simple templating language with a
        strong focus on performance and powerful features.